@use "sass:map";
@use '../variables';

.menu-button {
  border-radius:     0.2em;
  margin-right:      0.2em;
  color:             map.get(variables.$menu-button-colors, 'front') !important;
  display:           inline-block;
  font-size:         0.9em;
  font-weight:       400;
  line-height:       1.2em;
  padding:           0.3em;
  text-decoration:   none !important;
}

.menu-button:hover {
  color:        map.get(variables.$menu-button-colors, 'front-hover') !important;
  background:   map.get(variables.$menu-button-colors, 'background-hover');
}

.continue-read-button-wrap {
  text-align:        right;
  text-decoration:   underline;
}

.continue-read-button {
  opacity:        0.5;
  font-size:      1.4rem;
}
