:root[data-syntax-theme="light"] {
  --highlight-base:                       #4b4444;
  --highlight-background:                 #faf9f6;
  --highlight-border:                     #f1efea;
  --highlight-border-light:               #dddad1;

  --highlight-font-night-rider:           #4c9244;
  --highlight-font-bondi-blue:            #0086b3;
  --highlight-font-persimmon:             #df5000;
  --highlight-font-asparagus:             #63a35c;
  --highlight-font-pewter:                #969896;
  --highlight-font-cardinal:              #a71d5d;
  --highlight-font-scampi:                #795da3;
  --highlight-font-bahama-blue:           #1d3e81;
  --highlight-font-egyptian-blue:         #183691;
  --highlight-font-free-speech-red:       #bd2c00;
  --highlight-font-misty-rose:            #ffecec;
  --highlight-font-limeade:               #55a532;
  --highlight-font-honeydew:              #eaffea;
}

:root[data-syntax-theme="dark"] {
  --highlight-base:                       #cacaca;
  --highlight-background:                 #242424;
  --highlight-border:                     #505050;
  --highlight-border-light:               #636363;

  --highlight-font-night-rider:           #4c9244;
  --highlight-font-bondi-blue:            #0086b3;
  --highlight-font-persimmon:             #df5000;
  --highlight-font-asparagus:             #63a35c;
  --highlight-font-pewter:                #969896;
  --highlight-font-cardinal:              #a71d5d;
  --highlight-font-scampi:                #795da3;
  --highlight-font-bahama-blue:           #718bbe;
  --highlight-font-egyptian-blue:         #a1957b;
  --highlight-font-free-speech-red:       #bd2c00;
  --highlight-font-misty-rose:            #ffecec;
  --highlight-font-limeade:               #315c1f;
  --highlight-font-honeydew:              #eaffea;
}

