$font-families-base: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
$font-families-headings: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-families-code: Consolas, Monaco, Menlo;

$font-size: (
  'base':     0.55rem,
  'xxlarge':  2rem,
  'xlarge':   1.77rem,
  'large':    1.75rem,
  'medium':   1.7rem,
  'normal':   1.6rem,
  'small':    1.4rem,
  'ssmall':   1.2rem,
);

$headings-font-size: (
  'h1': 3.0rem,
  'h2': 2.4rem,
  'h3': 2.0rem,
  'h4': 1.8rem,
  'h5': 1.7rem,
  'h6': 1.6rem
);

$z-indexes: (
  'cover':  20,
  'header': 100
);

$line-height:      1.9em;
$letter-spacing:   0.01em;

$header:(
  'height': 1rem,
  'border': 1px solid var(--header-border),
);

$main:(
  'padding-top':         0px,
  'background-color':    var(--background-color),
  'max-width':           900px,
  'padding-right-left':  2.5rem
);

$basic-colors:(
  'base':             var(--color-basic-base),
  'light':            var(--color-basic-light),
  'link':             var(--color-basic-link),
  'unstyled-link':    var(--color-basic-unstyled-link),
  'headings':         var(--color-basic-headings),
  'archives-link':    var(--color-basic-archives-link),
  'series-link':      var(--color-basic-series-link),
  'steel-gray':       var(--color-basic-steel-gray),
  'warning':          var(--color-basic-warning),
  'warning-op2':      var(--color-basic-warning-op2),
  'info':             var(--color-basic-info),
  'info-op2':         var(--color-basic-info-op2),
  'error':            var(--color-basic-error),
  'error-op2':        var(--color-basic-error-op2),
  'white':            var(--color-basic-white),
);

$table-colors:(
  'tr-background':              var(--tr-background),
  'tr-background-secondary':    var(--tr-background-secondary),
);

$border-colors: (
  'hr-border-top':             var(--hr-border-top-color),
  'h1-border-bottom':          var(--h1-border-bottom-color),
  'th-border-bottom':          var(--th-border-bottom-color),
  'text-box-border-bottom':    var(--text-box-border-bottom-color),
  'blockquote-border-left':    var(--blockquote-border-left-color),
);

$code-basic-colors:(
  'background':                var(--code-basic-background-color),
  'tag':                       var(--code-basic-tag-color),
  'meta':                      var(--code-basic-meta-color),
  'doctag':                    var(--code-basic-doctag-color),
  'attr':                      var(--code-basic-attr-color),
  'link':                      var(--code-basic-link-color),
);

$highlight: (
  'font-size':             1.55rem,
  'border':                1px solid,
  'line-height':           1.3em
);

$highlight-colors:(
  'base':                  var(--highlight-base),
  'background':            var(--highlight-background),
  'border-color':          var(--highlight-border),
  'border-light':          var(--highlight-border-light),
);

$highlight-font-colors: (
  'night-rider':           var(--highlight-font-night-rider),
  'bondi-blue':            var(--highlight-font-bondi-blue),
  'persimmon':             var(--highlight-font-persimmon),
  'asparagus':             var(--highlight-font-asparagus),
  'pewter':                var(--highlight-font-pewter),
  'cardinal':              var(--highlight-font-cardinal),
  'scampi':                var(--highlight-font-scampi),
  'bahama-blue':           var(--highlight-font-bahama-blue),
  'egyptian-blue':         var(--highlight-font-egyptian-blue),
  'free-speech-red':       var(--highlight-font-free-speech-red),
  'misty-rose':            var(--highlight-font-misty-rose),
  'limeade':               var(--highlight-font-limeade),
  'honeydew':              var(--highlight-font-honeydew),
);

$home-colors: (
  'background':            var(--home-background-color),
);

$pinned-colors: (
  'background':            var(--pinned-background-color),
  'border':                var(--pinned-border-color),
);

$cover-colors: (
  'background':            var(--cover-background-color),
  'title':                 var(--cover-title-color),
  'meta':                  var(--cover-meta-color),
  'tag-link':              var(--cover-tag-link-color),
);

$navigation-colors: (
  'background':            var(--navigation-background-color),
);

$menu-button-colors: (
  'front':                 var(--menu-button-color-front),
  'front-hover':           var(--menu-button-color-front-hover),
  'background-hover':      var(--menu-button-color-background-hover),
);

$article-color: (
  'meta-link':             var(--article-meta-link-color),
  'time':                  var(--article-time-color),
  'excerpt':               var(--article-excerpt-color),
);

$tag-colors: (
  'front':                 var(--tag-front-color),
  'front-hover':           var(--tag-front-hover-color),
  'background':            var(--tag-background-color),
  'background-hover':      var(--tag-background-hover-color),
);

$footer-colors: (
  'background':             var(--footer-backgrount-color),
  'copyright':              var(--footer-copyright-color),
  'copyright-link':         var(--footer-copyright-link-color),
  'font':                   var(--footer-font-color),
);
