@use "sass:map";
@use '_variables';

.actionbutton-wrap {
  margin-top: 0.7em;
  display:          flex;
  flex-direction:   row;
  gap:              1rem;
  flex-wrap:        wrap;
}

.action-button {
  font-size:         1.45rem;
  width:             90px;
  text-align:        center;
  display:           inline-block;
  color:             map.get(variables.$basic-colors, 'base');
  background:        transparent;
  border:            0.1em solid map.get(variables.$basic-colors, 'base');
  border-radius:     0.5rem;
  padding:           0.25rem 1.3rem 0.25rem 1.3rem;
  &:hover {
    cursor:          pointer;
    text-decoration: underline;
  }
}
