@use "sass:map";
@use '_variables';

#archives {
  a {
    color: map.get(variables.$basic-colors, 'archives-link');
  }

  li {
    font-size: map.get(variables.$font-size, normal);
  }
}

.found {
  font-size: map.get(variables.$font-size, xlarge);
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.filters {
  display:       inline-flex;
  flex-wrap:     wrap;
  margin-top:    2rem;
  form {
    margin:      1.5rem 1.25rem 1.5rem 0rem;
  }
}

.date {
  margin-right: 1.8rem;
  font-size:    0.95em;
}
