@use "sass:map";
@use '_variables';

.article {
  position:       relative;
  width:          100%;
  display:        inline-block;
  vertical-align: top;

  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
  .title {
    margin:     0;
    font-weight: 400;
    font-size: 1.7rem;
    a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .time {
    font-size:  0.8em;
    color:      map.get(variables.$article-color, 'time');
  }
}

.wrap {
  margin-left: 0.2em;
  padding:     0.2em;
}

@media screen and (max-width: 900px) {
  .articles-wrap {
    margin-top: 1.5rem;
  }
  .article {
    font-size: 1.4rem;
  }
}
