@use "sass:map";
@use '_variables';

#footer {
  background: map.get(variables.$footer-colors, background);
  color:      map.get(variables.$basic-colors, steel-gray);
  font-size:  map.get(variables.$font-size, medium);
  text-align: center;
  margin-top: 40px;
  min-height: 180px;
  height:     auto;
  padding:    40px 5px 40px 5px;

  .copyrights {
    padding-top:  65px;
    color:        map.get(variables.$footer-colors, 'copyright');
    a {
      color:      map.get(variables.$footer-colors, 'copyright-link');
    }
  }
}

// TODO: move somewhere
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container .footer-item {
  color:       map.get(variables.$footer-colors, 'font') !important;
  font-size:   13px;
  width:       33%;
}
