@use "sass:map";
@use '_themes';
@use '_syntax-themes';
@use '_variables';
@use 'syntax-highlight';
@use 'components/alert.module';

html {
  font-family: variables.$font-families-base;
  font-size:   map.get(variables.$font-size, base);
}

body {
  width:          100%;
  height:         100%;
  margin:         0;
  padding:        0;
  font-size:      map.get(variables.$font-size, xlarge);
  line-height:    variables.$line-height;
  letter-spacing: variables.$letter-spacing;
  color:            map.get(variables.$basic-colors, 'base');
  background-color: map.get(variables.$main, background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
  font-family:    variables.$font-families-headings;
  line-height:    1.45em;
  color:          map.get(variables.$basic-colors, headings);
}

h1 {
  margin: 2.7em 0 0.9em 0;
  border-bottom: 0.02em solid map.get(variables.$border-colors, 'h1-border-bottom');
  line-height: 1.75em;
}
h2 {
  margin: 2.5em 0 0.4em 0;
}
h3 {
  margin: 1.5em 0 0 0;
}

h4,
h5,
h6 {
  margin: 1em 0 0 0;
}

@each $key, $value in variables.$headings-font-size {
  #{$key} {
    font-size: $value;
  }
}

p {
  margin: 0 0.5em 0.5em 0;
}

sub {
  font-size: map.get(variables.$font-size, small);
  opacity: 0.7;
  line-height: 1rem;
}

ul,
ol,
dl {
  margin: 0.2em 0 0.2em 0;
}

.footnote-ref {
  font-size: map.get(variables.$font-size, ssmall);
}

.footnotes {
  p {
    font-size: map.get(variables.$font-size, ssmall);
  }
  ol {
    font-size: 0.9rem;
  }
  opacity: 0.8;
}

.footnotes-sep {
  margin-top: 2.5em;
}

a {
  &,
  &:hover,
  &:active,
  &:visited {
      cursor:          pointer;
      color:           map.get(variables.$basic-colors, 'unstyled-link');
      text-decoration: none;
  }
  &:hover {
      color:           map.get(variables.$basic-colors, 'unstyled-link');
      text-decoration: underline;
  }
}

a.unstyled {
  &,
  &:hover,
  &:active {
    cursor:          pointer !important;
    color:           inherit !important;
    text-decoration: none !important;
  }
  a.link {
    &,
    &:hover,
    &:active {
        text-decoration: underline !important;
    }
  }
}

table {
  width:           100%;
  background:      transparent;
  border-collapse: collapse;
  border-spacing:  0;
  text-align:      left;
  margin:          1em 0 0 0;

  th {
    padding:       0.1em 0.5em;
    font-weight:   bold;
    border-bottom: 0.1em solid map.get(variables.$border-colors, 'th-border-bottom');
  }
  td {
    padding: 0.1em 0.5em;
  }
  tr {
    background:     map.get(variables.$table-colors, 'tr-background');
    &:nth-child(2n) {
      background:   map.get(variables.$table-colors, 'tr-background-secondary');
    }
  }
}

hr {
  margin:     0.4em 0 0;
  outline:    none;
  border:     none;
  border-top: 1px solid map.get(variables.$border-colors, 'hr-border-top');
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 0;
  }
}

form {
  margin:            2.5rem 0 2.5rem 0;
  input {
    background:      transparent;
    width:           100%;
    border:          none;
    outline:         none;
    color:           map.get(variables.$basic-colors, base);
    font-size:       map.get(variables.$font-size, xxlarge);
    font-weight:     400;

    &:hover,
    &:focus {
        outline:        none;
        border-bottom:  0.2rem solid map.get(variables.$basic-colors, 'info');
    }
    padding-bottom:  0.6rem;
    margin-right:    0.2rem;
    border-bottom:   0.1rem solid map.get(variables.$border-colors, 'text-box-border-bottom');
  }
}

select {
  font-size:      map.get(variables.$font-size, xxlarge);
  color:          map.get(variables.$basic-colors, 'steel-gray');
  background:     transparent;
  border:         0.1rem solid map.get(variables.$basic-colors, 'steel-gray');
  border-radius:  0.3rem;
  padding:        0.4rem 2.7rem 0.4rem 0.7rem;
  &:hover,
  &:focus {
      outline:        none;
      color:          map.get(variables.$basic-colors, 'base');
      border:         0.2rem solid map.get(variables.$basic-colors, 'info');
  }
}

acronym,
abbr {
  border-bottom: 0.1em dotted map.get(variables.$basic-colors, 'base');
}

// TODO: move somewhere?
blockquote {
  border-left:   0.15em solid map.get(variables.$border-colors, 'blockquote-border-left');
  padding:       0 1em;
  font-style:    italic;
  margin:        1.7em 0 1.7em 1.7em;
  opacity:       0.7;

  cite {
    &:before {
      content: ' — ';
      padding: 0 0.3em;
    }
  }
  & > p:first-child {
    margin: 0;
  }
}

code {
  font-family:        variables.$font-families-code;
  font-size:          map.get(variables.$font-size, small);
  color:              map.get(variables.$highlight-colors, 'base');
  background-color:   map.get(variables.$code-basic-colors, 'background');
  border-radius:      2px;
  display:            inline;
  font-weight:        400;
  margin:             0 0.25em;
  padding:            0.3em 0.35em;
}

figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
  .highlight {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .line {
    font-size:        1.6rem;
    letter-spacing:   0.01em;
  }
  table {
    width:  auto;
    margin: 0;
  }
}

