@use "sass:map";
@use '_variables';

.nav-root {
  display:                     block;
  width:                       100%;
  height:                      map.get(variables.$header, height);
  background:                  transparent;
  position:                    fixed;
  top:                         0;
  z-index:                     map.get(variables.$z-indexes, header);
}
.nav-wrap {
  display:       block;
  max-width:     map.get(variables.$main, max-width);
  margin:        0 auto;
  padding-right: map.get(variables.$main, padding-right-left);
  padding-left:  map.get(variables.$main, padding-right-left);
}
.nav-icon {
  padding-top: 6px;
  padding-left: 7px;
}

.navbar {
  color: white;
  position: relative;
  z-index: 30;
}

.navbar-menu {
  display: none;
}

.navbar-item {
  color: #fff;
  line-height: 1.5;
  padding: 0.5rem 0.6rem;
  position: relative;
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

.cover-bottom-nav {
  background:   map.get(variables.$navigation-colors, 'background');
}
