@import
    '_variables';

.alert {
  position:    relative;
  text-align:  left;
  padding:     1rem 1rem;
  margin:      1rem 0 0;
  border:      none;
  border-radius: 0.5rem;
  border-left: 0.5rem solid;
  word-break: break-word;

  p {
    margin: 1.5em 0 0;
    &:first-child {
      margin: 0;
    }
  }
  &:not(.no-icon) {
    padding-left: 4rem;

    &:before {
      position:    absolute;
      top:         1rem;
      left:        1rem;
      font-size:   2rem;
    }
  }
  &.warning {
    border-color:     map-get($colors, 'warning');
    background-color: lighten(map-get($colors, 'warning'), 40%);
    &:not(.no-icon) {
      &:before {
        content: "▲";
        color:   map-get($colors, 'warning');
      }
    }
  }
}
