@import
    '../_variables';

.content {
  position:       relative;
  width:          100%;
  display:        inline-block;
  vertical-align: top;

  .content-main {
    text-rendering: optimizelegibility;
    letter-spacing: 0.03em;
    color:          map-get($basic-colors, base);
    margin-top:     0.3em;
    font-weight:    400;
    overflow:       hidden;

    img {
      display:   block;
      width:     auto;
      max-width: 100%;
    }
    :not(blockquote):not(li):not(.alert) {
      & > p {
        margin: 1.4em 0 1.3em 0.8em;
      }
    }
    ul {
      margin: 0 0 0 0.5em;
    }
    li {
      p {
        margin: 0 0 0 0;
      }
    }
  }
  .content-footer {
    margin-top: 1em;
  }
  .accordion-wrap {
    margin-top: 1em;
  }
}

.words {
  text-align:      right;
  font-size:       1.5rem;
  font-style:      italic;
  opacity:         0.8;
}
