@import
    '../_variables';

.container {
  display:       block;
  max-width:     map-get($main, max-width);
  margin:        0 auto;
  padding-right: map-get($main, padding-right-left);
  padding-left:  map-get($main, padding-right-left);
}
