@import
    '../_variables';

.cover {
  display:                     table;
  background:                  map-get($cover-colors, 'background');
  width:                       100%;
  padding:                     calc(#{map-get($header, 'height')} * 20) 0 calc(#{map-get($header, 'height')} * 10) 0;
  height:                      40%;
  max-height:                  250px;
  z-index:                     map-get($z-indexes, 'cover');

  .content-header {
    display:         table-cell;
    vertical-align:  middle;
    text-align:      center;
    padding-right:   map-get($main, padding-right-left);
    padding-left:    map-get($main, padding-right-left);
    .site-title {
      margin:        0 auto;
      max-width:     18rem;
    }
    .site-meta {
      max-width:      map-get($main, 'max-width');
      font-size:      1.3rem;
      color:          map-get($cover-colors, 'meta') !important;
      font-weight:    400;
      letter-spacing: 0.05em;
      margin:         0 auto;
      opacity:        0.8;
    }
    .content-title {
      margin:        0 auto;
      color:         map-get($cover-colors, 'title');
      font:          $font-families-base;
      font-weight:   400;
      font-size:     2.5rem;
      max-width:     map-get($main, 'max-width');
      margin-bottom: 0.3em;
      border-bottom: none;
    }
    .content-meta {
      max-width:      map-get($main, 'max-width');
      font-size:      1.6rem;
      color:          map-get($cover-colors, 'meta') !important;
      font-weight:    400;
      font-style:     italic;
      letter-spacing: 0.05em;
      opacity:        0.7;
    }
  }

  .tags {
    justify-content: center;
    margin-top:      1.5em;
    font-style:     italic;
    a {
      color:          map-get($cover-colors, 'tag-link');
      margin:         2px 2px 2px 2px;
      font-size:      1.5rem;
      opacity:        0.6;
      padding-left:   0.5em;
      padding-right:  0.5em;
    }
  }
}
