// default color settings
:root {
  --background-color:        #fcfcfc;
  --header-border:           #eef2f8;

  --color-base:              #3e3c4a;
  --color-light:             #35343f;
  --color-link:              #1e90ff;
  --color-headings:          #575663;
  --color-archives-link:     #255c92;
  --color-steel-gray:        #7a8a99;
  --color-warning:           #f5aa0a;
  --color-warning-op2:       hsla(41, 92%, 50%, 0.2);
  --color-info:              #509dca;
  --color-info-op2:          hsla(202, 54%, 55%, 0.2);

  --highlight-base:          #4b4444;
  --highlight-background:    #faf9f6;
  --highlight-border:        #f1efea;
  --highlight-border-light:  #dddad1;

  --highlight-font-night-rider:       #4c9244;
  --highlight-font-bondi-blue:        #0086b3;
  --highlight-font-persimmon:         #df5000;
  --highlight-font-asparagus:         #63a35c;
  --highlight-font-pewter:            #969896;
  --highlight-font-cardinal:          #a71d5d;
  --highlight-font-scampi:            #795da3;
  --highlight-font-bahama-blue:       #1d3e81;
  --highlight-font-egyptian-blue:     #183691;
  --highlight-font-free-speech-red:   #bd2c00;
  --highlight-font-misty-rose:        #ffecec;
  --highlight-font-limeade:           #55a532;
  --highlight-font-honeydew:          #eaffea;
}
