$font-families-base: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
$font-families-headings: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-families-code: Consolas, Monaco, Menlo;

$font-size: (
  'base':     0.55rem,
  'xxlarge':  2rem,
  'xlarge':   1.77rem,
  'large':    1.75rem,
  'medium':   1.7rem,
  'normal':   1.6rem,
  'small':    1.4rem,
  'ssmall':   1.2rem,
);

$headings-font-size: (
  'h1': 3.0rem,
  'h2': 2.4rem,
  'h3': 2.0rem,
  'h4': 1.8rem,
  'h5': 1.7rem,
  'h6': 1.6rem
);

$z-indexes: (
  'cover':  20,
  'header': 100
);

$header:(
  'height': 1rem,
  'border': 1px solid var(--header-border),
);

$main:(
  'padding-top':         0px,
  'background-color':    var(--background-color),
  'max-width':           900px,
  'padding-right-left':  2.5rem
);

$colors:(
  'base':             var(--color-base),
  'light':            var(--color-light),
  'link':             var(--color-link),
  'headings':         var(--color-headings),
  'archives-link':    var(--color-archives-link),
  'steel-gray':       var(--color-steel-gray),
  'warning':          var(--color-warning),
  'warning-op2':      var(--color-warning-op2),
  'info':             var(--color-info),
  'info-op2':         var(--color-info-op2),
);

$line-height:      1.9em;
$letter-spacing:   0.01em;

// TODO: clean up
$highlight: (
  'base':                  var(--highlight-base),
  'background':            var(--highlight-background),
  'border-color':          var(--highlight-border),
  'border-light':          var(--highlight-border-light),
  'font-size':             1.55rem,
  'border':                1px solid,
  'line-height':           1.3em
);

// TODO: clean up
$highlight-font: (
  'night-rider':     var(--highlight-font-night-rider),
  'bondi-blue':      var(--highlight-font-bondi-blue),
  'persimmon':       var(--highlight-font-persimmon),
  'asparagus':       var(--highlight-font-asparagus),
  'pewter':          var(--highlight-font-pewter),
  'cardinal':        var(--highlight-font-cardinal),
  'scampi':          var(--highlight-font-scampi),
  'bahama-blue':     var(--highlight-font-bahama-blue),
  'egyptian-blue':   var(--highlight-font-egyptian-blue),
  'free-speech-red': var(--highlight-font-free-speech-red),
  'misty-rose':      var(--highlight-font-misty-rose),
  'limeade':         var(--highlight-font-limeade),
  'honeydew':        var(--highlight-font-honeydew),
);
