@import
    '_variables';

.menu-button {
  font-size:         1.5rem;
  display:           inline-block;
  color:             map-get($basic-colors, 'base');
  background:        transparent;
  border:            0.1em solid map-get($basic-colors, 'base');
  border-radius:     0.5rem;
  padding:           0.25rem 1.5rem 0.25rem 1.5rem;
  &:hover {
    cursor:          pointer;
    text-decoration: underline;
  }
}

.accordion {
  text-overflow:      wrap;
  pre {
    border:             0.1em solid map-get($highlight-colors, 'border-color');
    font-family:        $font-families-code;
    font-size:          map-get($font-size, small);
    color:              map-get($highlight-colors, 'base');
    background-color:   map-get($code-basic-colors, 'background');
    line-height:        2.4rem;
    border-radius:      2px;
    margin:             0.25em 0.25em;
    padding:            0.5em 0.5em;
    overflow-x:         auto;
    overflow-y:         hidden;
  }
}
