@import
    '_variables';

#archives {
  a {
    color: map-get($colors, 'archives-link');
  }

  li {
    font-size: map-get($font-size, normal);
  }
}

.found {
  font-size: map-get($font-size, xlarge);
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
