@import
    '_variables';

.group {
  .article {
    margin-top:     1em;
    margin-bottom:  0.2em;
  }
}

.article {
  position:       relative;
  width:          100%;
  display:        inline-block;
  vertical-align: top;

  .title {
    margin:     0;
    font-weight: 400;
    font-size:   2.2rem;
  }
  .meta {
    margin: 0.2em 0 0 0;
    line-height: 1.5em;
    a {
      color:     map-get($article-color, 'meta-link');
    }
  }
  .meta,
  .time {
    font-size:   0.8em;
    color:       map-get($article-color, 'time');
  }
  .meta {
    font-size:   map-get($font-size, small);
    font-weight: 400;
  }
  .excerpt {
    margin:         0.8em 0 0 0.6em;
    letter-spacing: 0.08em;
    color:          map-get($article-color, 'excerpt');
    font-size:      1.65rem;
    font-weight:    400;
    overflow:       hidden;
  }
}

.wrap {
  margin-left: 0.2em;
  padding:     0.8em;
}
