@import
    '_variables';

#back-to-top {
  position:     fixed;
  bottom:       20px;
  right:        20px;

  a {
    background:     map-get($colors, 'base');
    border-radius:  50%;
    bottom:         15px;
    color:          map-get($colors, 'white');
    cursor:         pointer;
    display:        block;
    width:          46px;
    height:         46px;
    position:       fixed;
    right:          15px;
    user-select:    none;
    z-index:        100;
  }

  svg {
    fill: currentColor;
  }
}
