@import
    '_variables';

.home-articles-group {
  .home-articles {
      margin-top:    10px;
      margin-bottom:  5px;
  }
}

.home-articles {
  position:       relative;
  width:          100%;
  display:        inline-block;
  vertical-align: top;

  .home-articles-header {
      .home-articles-title {
          margin:     0;
          word-break: initial;
          overflow:   hidden;
          font-weight: 400;
      }
  }
  .home-articles-meta {
      margin: 0.2em 0 0 0;
      line-height: 1.5em;
      a {
          color: #828d9e;
      }
  }
  .home-articles-meta,
  .home-articles-time {
      font-size: 0.9em;
      color: #939ba8;
  }
  .home-articles-meta {
      font-size:   map-get($font-size, small);
      font-weight: 400;
  }
  .home-articles-excerpt {
      text-rendering: optimizelegibility;
      letter-spacing: 0.2px;
      color:          #7e7c8a;
      font-weight:    400;
      overflow:       hidden;
  }
  .home-articles-excerpt {
      margin-top: 12px;
  }
}

.home-articles-wrap {
  margin-left: 5px;
  padding:     12px;
}
