@import
    '_variables';

.form {
  margin-top:     2.5rem;
  margin-bottom:  2.5rem;
}

.control {
  background:      transparent;
  width:           100%;
  border:          none;
  outline:         none;
  color:           map-get($colors, base);
  font-size:       map-get($font-size, xxlarge);
  font-weight:     400;

  &:hover,
  &:focus {
      outline: none;
  }
}

.textbox {
  padding-bottom:  0.6rem;
  margin-right:    0.2rem;
  border-bottom:   1px solid #bbb;
}
